#Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [1]:
# Import reduce function 
from functools import reduce
# sum of n natural number 
#input function
print("input:")
number = int(input("enter a number: "))
num_list = list(range(1,(number+1)))
sum_of_natural_number= reduce((lambda x,y: x+y), num_list)
#Output
print("Output:")
print("List of First n Natural numbers are:",num_list)
print("Sum of List elements are :",sum_of_natural_number)

input:
enter a number: 70
Output:
List of First n Natural numbers are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70]
Sum of List elements are : 2485

#Write a Python program to implement your own myfilter() function which works exactly
#like Python's built-in function filter()

In [2]:
#create a function
# Identify Even and Odd number by filter method
def myfilter(n):
  return n
print("input:")
Number= int(input("please enter a number"))
n= list(range(1,Number+1))

Even_checks= list(filter(lambda x: x%2==0,n))
Odd_checks= list(filter(lambda X: X%2!=0, n))
print('output: ')
print("Hi am even number:", Even_checks)
print("Hi am odd number:", Odd_checks)

input:
please enter a number100
output:
Hi am even number: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Hi am odd number: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

#Implement List comprehensions to produce the following lists.
#Write List comprehensions to produce the following Lists
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [3]:

#Solution

#Section 1
word_1= list('xyz')
word_2= [x*n for x in word_1 for n in range(1,5) ]
print(word_2)

#Section 2
word_3=[x*n for n in range(1,5) for x in word_1 ]
print(word_3)

#Section 3
Number= [2,3,4]
Number_1= [[x+n] for x in Number for n in range(0,3)]
print(Number_1)

#Section 4
Number3 = [2,3,4,5]
Number_4= [[x+n for n in range(0,4)] for x in Number3]
print(Number_4)

#Section 5

number_5=[1,2,3]
number_6= [(b,a) for a in number_5 for b in number_5]
print(number_6)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]